<div class="app-header">
  <div class="header-logo-area">
    <img src="file_safe_icon.png" class="header-logo" title="File Safe - Home" />
  </div>

  <div class="search-area">
    <input type="search" class="search-bar" placeholder="Search in File Safe..." />
    <button type="button" class="search-button" title="Search">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <div class="actions-area">
    <div>
      <i class="bi bi-cloud-plus-fill" title="Upload File or Folder"></i>
    </div>
    <div>
      <i class="bi bi-brightness-high-fill" title="Select Theme"></i>
    </div>
  </div>
</div>
